In [1]:
tuple_list = (('Coffee', 'Tea', 'Boost'), ('Badam', 'Pista', 'Walnut'), ('Sangeetha', 'A2B', 'Saravana'))
element = input()

is_present = False
for i in tuple_list:
    for j in i:
        if element in j:
            is_present = True
            break
if is_present:
    print("True")
else:
    print("False")

Saravana
True

In [2]:
'''4. Write a Python program to convert a given tuple of integers into an integer.
    Data:
        Example tuple: 
        (9, 20, 40, 10, 70)
    Expected Output:
        positive integers:
        920401070'''
tup = (9,20,40,10,70)
for i in tup:
    print(i,end="")

920401070

In [4]:
'''5. Write a Python program to convert a tuple of string values into a tuple of integer values. 
    Data:
        tuple values:
        (('222', '33'), ('546', '678'))
    Expected Output:
        New tuple values:
        ((222, 33), (546, 678))
        
        '''

tuple_values = (('222', '33'), ('546', '678'))
new_tuple_values = []

for inner_tuple in tuple_values:
    new_inner_tuple = []
    for value in inner_tuple:
        new_inner_tuple.append(int(value))
    new_tuple_values.append(tuple(new_inner_tuple))


print("New tuple values:")
print(tuple(new_tuple_values))

New tuple values:
((222, 33), (546, 678))

In [9]:
'''6. Write a Python program to calculate the average value of the numbers in a given tuple of tuples. 
    Data:
        Example Tuple: 
        ((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))
        ((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))
    Expected Output:
        Average value of the numbers:
        [15.5, 33.5, 34.0, 26.75]
        [18.0, -18.0, 4.75]
        '''
abc = ((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))
xyz = ((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))
def cal_avg(num):
    return sum(num)/len(num) if len(num)>0 else 0
lst1=[]
lst2=[]
for num in zip(*abc):
    lst1.append(cal_avg(num))
print(lst1)   
for num in zip(*xyz):
    lst2.append(cal_avg(num))
print(lst2)

[15.5, 33.5, 34.0, 26.75]
[18.0, -18.0, 4.75]

In [16]:
'''7. Write a Python program to multiply all the elements of a given tuple. 
    Data:
        Example Tuple: 
        (4, 3, 5, 2, -2, 10)
        (2, 6, 8, 7, 3, 1, 9)
    Expected Output:
        multiplying all the numbers: -2400
        multiplying all the numbers: 18144
            
            '''
def multi(a):
    m = 1
    for i in a:
        m *= i
    return m

x = multi((4, 3, 5, 2, -2, 10))
v = multi((2, 6, 8, 7, 3, 1, 9))
print("multiplying all the numbers:",x)
print("multiplying all the numbers:",v)

multiplying all the numbers: -2400
multiplying all the numbers: 18144

In [19]:
'''8. Write a Python program to convert a given string into a tuple.
    Data:
        Example string:
        aidinasaur.com
        <class 'str'>
    Expected Output:
        Convert the said string to a tuple:
        ('a', 'i', 'd', 'i', 'n', 'a', 's', 'a', 'u', 'r', '.', 'c', 'o', 'm')
        <class 'tuple'>     
        '''
x="aidinasaur.com"
print(type(x))
lst=[]
for i in x:
    lst.append(i)
print(tuple(lst))

<class 'str'>
('a', 'i', 'd', 'i', 'n', 'a', 's', 'a', 'u', 'r', '.', 'c', 'o', 'm')

In [23]:
'''9. Write a Python Program to Read a Number n and Compute n+nn+nnn using tuple. Get the input from user.
    Expected Output:
        Enter a number n : 5
        The value is : 615'''
n = int(input("enter the number"))
result=n+int(str(n)*2)+int(str(n)*3)
print(f"The value is: {result}")

enter the number5
The value is: 615

In [47]:
'''10. Write a Python program to slice a tuple.
    Data:
        x = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
        y = tuple("HELLO NATURE")
    Expected Output:
        (5, 4)
        (2, 4, 3, 5, 4, 6)
        (6, 7, 8, 6, 1)
        (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
        (3, 5, 4, 6)
        ('H', 'E', 'L', 'L', 'O', ' ', 'N', 'A', 'T', 'U', 'R', 'E')
        ('L', 'O', 'N', 'T')
        ('H', 'O', 'T')
        ('U', ' ')    
        
        '''
x = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
y = tuple("HELLO NATURE")
print(y)
print(x[3:5])
print(x[0:6])
print(x)
print(x[2:6])
print(y[2:9:2])
print(y[0::4])
print(y[-3:-8:-4])

('H', 'E', 'L', 'L', 'O', ' ', 'N', 'A', 'T', 'U', 'R', 'E')
(5, 4)
(2, 4, 3, 5, 4, 6)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)
('L', 'O', 'N', 'T')
('H', 'O', 'T')
('U', ' ')

In [53]:
'''12. Write a Python function to calculate the sum of given three numbers in a tuple. Return three times of their sum, if the values in a tuple are same.
    Data:
        (1, 2, 3) 
        (3, 3, 3)
    Expected Output:
        6
        27'''
x=(1, 2, 3) 
y=(3, 3, 3)
print(sum(x))
for i in y:
    if i != y[0]:
        break
else:
    print(sum(y)*3)

6
27

In [57]:
'''13. Write a Python program to count the number 4 in a given list of tuple.
    Data:
        tuples([1, 5, 6, 8, 4])
        tuples([1, 4, 6, 2, 7, 5])
    Expected Output:
        1
        1        '''
def c(tup):
    x=0
    for i in tup:
        if i == 4:
            x+=1
            return x
tup1=c([1, 5, 6, 8, 4])
tup2=c([1, 4, 6, 2, 7, 5])
print(tup1)
print(tup2)

1
1