In [26]:
'''1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>'''        
        
x = [1,2]            
print("y-",(tuple(x)))

y- (1, 2)

In [27]:
'''2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)
        '''
x = ("tuples",3.2, 1)
print(x)

('tuples', 3.2, 1)

In [28]:
'''Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25'''
x = (5,10,15,20,25)
for i in x:
    print(i)

5
10
15
20
25

In [36]:
'''4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility'''
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')

for i in x:
    print(i,end="")

volatality

In [38]:
'''5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]
        '''
x=(1,2,3)
print(x)
print(list(x))

(1, 2, 3)
[1, 2, 3]

In [42]:
'''6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')'''
x = ("a","b","c","d")
y = list(x)
y.remove("c")
x = tuple(y)
print(x)

('a', 'b', 'd')

In [49]:
'''7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9
        '''
x = ("positions")
y = len(x)
z =[]
for i in x:
    z.append(i)
z = tuple(z)
print(z)
print(len(z))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [85]:
'''9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)
        '''   
def y(a):
    z = list(a)
    reverse =a[::-1]
    tup = tuple(reverse)
    return tup 
x = ("baskar")
print(y(x))
x = (5, 10, 15, 20)
print(y(x))

('r', 'a', 'k', 's', 'a', 'b')
(20, 15, 10, 5)

In [87]:
'''10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15'''
x = (4, 8, 3)
sum = 0
for i in x:
    sum += i
print(x)
print(sum)

(4, 8, 3)
15

In [88]:
'''11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))'''
x = ("Boss", [8, 4, 6], (1, 2, 3))
print(x)

('Boss', [8, 4, 6], (1, 2, 3))

In [90]:
'''12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>'''
x =("hello")
y = tuple(x)
print(type(x))
print(type(y))

<class 'str'>
<class 'tuple'>

In [92]:
'''13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r
'''
x = ('B','a','s','k','a','r')
print("x[0] is:",x[0])
print("x[5] is:",x[5])

x[0] is: B
x[5] is: r

In [93]:
'''14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4
        '''
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print("x[0][3] is:",x[0][3])
print("x[1][1] is:",x[1][1])

x[0][3] is: s
x[1][1] is: 4

In [94]:
'''15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B'''
x = ('B','a','s','k','a','r')
print("x[-1] is :",x[-1])
print("x[-6] is :",x[-6])

x[-1] is : r
x[-6] is : B

In [96]:
x = (1, 12, 123)
y = (4, 9)
z1 = x + y
z2 = z1 * 3
print(f"z = x + y: {z1}")
print(f"z * 3: {z2}")

z = x + y: (1, 12, 123, 4, 9)
z * 3: (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [97]:
'''17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala
        '''
x = ('boss','sai')
for i in x:
    print(f"hello {i}")

hello boss
hello sai

In [101]:
'''18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3'''
x = ('a', 'p', 'p', 'l', 'e')
print(x.count("p"))
print(x.index("l"))

2
3

In [105]:
'''19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')
        '''
x = (1, [9, 8, 7], "boss")
print(x)
y = list(x)
y[1][2]=77

print(tuple(y))

(1, [9, 8, 7], 'boss')
(1, [9, 8, 77], 'boss')

In [106]:
'''20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        '''
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
print(x[2:5])
print(x[0:4])
print(x[4:9])
print(x[4:8])
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)